<div class="text-center">
  <h2 class="p-3 mb-2 bg-primary text-white text-uppercase">
    {{ title }}
    <!-- <span appBasicHighlight [defaultColor]="'green'" [highlightColor]="'pink'"> {{ title }}</span> -->
    <!-- <h4 class="text-capitalize text-white" appHeadingStyle>Desi Tadka</h4> -->
    <h4 class="text-capitalize text-white" appBasicHighlight defaultColor="brown" [highlightColor]="'blue'">Desi
      Tadka</h4>
  </h2>
</div>
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">

      <app-recipes *ngIf="loadedFeature == 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature == 'shopping-list'"></app-shopping-list>

    </div>

    <!-- <div class="col-12" *ngIf="IsShowRow">
      {{Row}}
    </div>
    <ng-template [ngIf]="IsShowRow">
      {{Row}}
    </ng-template> -->

    <!-- <div class="col-12" *appUnless="!IsShowRow">
      {{Row}}
    </div> -->

    <!-- <div [ngSwitch]="Value">
      <p *ngSwitchCase="10">10</p>
      <p *ngSwitchCase="5">5</p>
    </div> -->

  </div>
</div>
